body{
    background-image: url("../../img/login/portadaLogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-login{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.etiquetaCorreo{
    color: red;
}